@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /*  background-color: #3daa25;*/
  font-family: "Quicksand", sans-serif;
}

@font-face {
  font-family: "LPMQ";
  src: url("/font/LPMQIsepMisbah.ttf") format("truetype"); /* Ganti dengan format yang sesuai */
  font-weight: normal;
  font-style: normal;
}

/* Gunakan font di elemen yang diinginkan */
.arab-font {
  font-family: "LPMQ", sans-serif; /* Menggunakan font dan fallback ke sans-serif */
}

.no-scrollbar {
  /* Untuk browser berbasis WebKit (Chrome, Safari, Edge, Opera) */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* WebKit */
}

.fixed-animate {
  transition: transform 0.3s ease-in-out;
}
