@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Quicksand", sans-serif;
}

@font-face {
  font-family: "LPMQ";
  src: url("/font/LPMQIsepMisbah.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.arab-font {
  font-family: "LPMQ", "Noto Sans Arabic", sans-serif;
}

.no-scrollbar {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.fixed-animate {
  transition: transform 0.3s ease-in-out;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
